body {
  /*Setting the main font as the appls system fall, if that not available then it goes to BlinkMac, etc*/
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   /*margin: 0 gets rid of the body margin*/
    margin: 0;
    /*this makdes the font look a little smoother, webkit is a web browser rendering engine (transforms html using CSS)*/
    -webkit-font-smoothing: antialiased;
    font-size: 20px; 
    /*more spacing between each line, general rule = set anywhere between 1.2-1.45*/
    line-height: 1.3; 
  }

a {
    color: #8A2BE2; 
    /*boldness of font*/
    font-weight: 600; 
    /*removes underline from link*/
    text-decoration: none;
}

.Hero {
  background-color: #e7f7f9;
  height: 650px;
  position: relative; 
  /* use this if I want to have a picture as for my background
  background-size: cover;
  background-position: center; */
}

 /*hero is like grouping layers in figma*/
.HeroGroup {
  margin: 0 auto;
  max-width: 500px;
  padding: 150px 50px;
  text-align: center;
}

.Hero h1 {
  margin: 0;
  color: #8A2BE2;
  font-size: 60px;
  opacity: 0; 
  animation: HeroAnimation;
  animation-duration: 3s;
  animation-delay: 0.1s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.2, 0.8, 0.2, 1); 
}

.Hero p {
   color: rgba(0, 0, 0, 0.8);
   font-size: 25px;
   line-height: 1.5;
   opacity: 0;
   animation: HeroAnimation 3s 0.2s forwards cubic-bezier(0.2, 0.8, 0.2, 1);
}

.Hero a {
  font-size: 17px; 
  font-weight: 600;
  color: white;
  text-transform: uppercase;
  background: rgba(0, 0, 0, 0.7);
  padding: 9px 20px; 
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1); 
}

.Hero a:hover {
  background: white;
  color: #8A2BE2;
}

@media (max-width: 640px){
  .HeroGroup {
    padding: 100px 20px; 
  }

  .Hero h1 {
    font-size: 40px; 
  }

  .Hero p {
    font-size: 20px;
  }
}

@keyframes HeroAnimation {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.Hero svg {
  position: absolute; 
  bottom: 0; 
  left: 0;
}

.Cards h2 {
  margin: 50px 20px;
  font-size: 60px; 
  text-align: center;
  font-weight: 700; 
}

.CardGroup {
  margin: 50px 40px 100px;
  display: grid; 
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 40px;
  justify-items: center;
}

@media (max-width: 1060px) {  
  .CardGroup {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 720px) {  
  .CardGroup {
    grid-template-columns: repeat(1, 1fr);
  }
}